/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.view-my-courses thead{
	background:#0C8689;
	color: #ffffff;
	border-right: #0C8689 1px solid;
	border-left: #0C8689 1px solid;
}

.view-my-courses tbody{
	border-right:#0C8689 1px solid;
	border-left:#0C8689 1px solid;
}

.views-field .views-field-title{
	padding: 20px 10px 10px 10px;
}


.my-courses .views-row-first, .my-courses .views-row-last{
	background:#ffffff;
}

.my-courses {
	background:#efefef;
	padding: 15px;

}

.my-courses .block-title{
	text-align:center;
}

.courselist table thead {
	background:#220069;
	color: #ffffff;
}

.views-field-field-course-description, .views-field-title {
	border-bottom:1px solid #0C8689;
	padding: 10px 10px 10px 0px;
}

.table {
	margin-bottom:0px;
}

.node-course {
	padding: 10px 5px 10px 5px;
}

.field-label {
	color: #ffffff;
	padding: 10px 15px 10px 15px;
}

.field-name-field-course-description .field-label {
	background:#220069;
}

.field-name-field-course-category .field-label {
	background:#6E0C4A;
}

.field-items {
	margin-bottom: 10px;
	border: 1px solid #220069;
	padding: 10px 15px 10px 15px;
}

/*Course Landing Page*/
.field-name-field-course-image img {
	margin-left: auto;
	margin-right: auto;
}
